:root {
    --white-color: #fff;
    --accent-color: #3661ac;
    --info-color: #757575;
    --btn-back: #b1aee4;
    --hover-btn: #7e66eb;
    --heading-color: #212121;
    --card-bg: #ececec;
    --background-dark: #1e4587;
    --background-light: #5b82c6;
}